/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  height: 100%; /* Ensures the height of html and body is 100% */
}

/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes the full viewport height */
}

/* Content wrapper */
.content-wrap {
  flex: 1; /* Allows the content to grow and push the footer to the bottom */
}

/* Footer Styles */
.footer {
  color: aliceblue;
}

/* Navbar */
.navbar {
  padding: 0.5rem 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
}

/* Aligning Navbar items in a single line */
.navbar-collapse {
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  margin-left: 1rem;
}

/* Carousel */
.carousel-inner img {
  object-fit: cover;
  height: 50vh;
}

/* Responsive Layouts */
@media (max-width: 768px) {
  .carousel-inner img {
    height: 30vh;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }

  .navbar-nav .nav-item {
    margin: 0.5rem 0;
  }

  .card {
    width: 100% !important;
    margin-bottom: 1.5rem;
  }

  .order-section {
    margin-bottom: 2rem;
  }

  .total-price {
    font-size: 1.5rem;
  }

  .checkout-button {
    width: 100%;
  }

  .cart-container {
    padding: 1rem;
  }

  .table-responsive {
    overflow-x: auto;
  }

  .order-date, .total-price {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    bottom: 1rem;
  }

  .carousel-caption input {
    width: 80%;
  }

  .navbar-brand {
    font-size: 1.3rem;
  }

  .navbar-nav .nav-link {
    font-size: 1rem;
  }

  .card {
    width: 100% !important;
    margin-bottom: 1rem;
  }

  .checkout-button {
    font-size: 1rem;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

